- Don't run dev server commands, let me do it. If you want to run something, ask me first
- You won't be able to run smart contract deployment commands, when needed. Ask me that will do it for you.
- Run lint and type check after making changes and fix errors. Avoid any types.
- When updating a smart contract code, remember to generate the ABI and update the FE accordingly.
- When coding a smart contract, make sure to make the code as most optimized as possible, but in a smart way: loops, storage types, modifiers, etc.